.login-wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(30px);
    color: #000000;
    border-radius: 10px;
    padding: 30px 40px;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.login-wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.login-wrapper .input-box {
    position: relative;
    width: 100%;
    margin: 30px 0;
    border-bottom: 2px solid rgba(0, 0, 0, 0.6);
    padding-bottom: 15px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    color: #000;
    font-size: 1rem;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    padding-bottom: 15px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
    top: -8px;
    font-size: 0.85rem;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 16px;
    color: #000;
}

.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    cursor: pointer;
}


/* Login button */
.login-wrapper button {
    width: 100%;
    height: 45px;
    background-color: #000000;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #ffffff;
    font-weight: 700;
}

.login-wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #FFF;
    text-decoration: none;
    font-weight: 600;

}

.register-link p a:hover {
    text-decoration: underline;

}